@model Restaurant.Models.Entities.Menu

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="text-center" style="color: red;">Bu menüyü silmek istediğinizden emin misiniz?</h3>
<br>
<div class="row justify-content-center">
    <div class="col-md-6">
        <h4>Menu Bilgileri</h4>
        <hr />
        <br>
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Image)
            </dt>
            <dd class="col-sm-8">
                <img src="@Url.Content(Model.Image)" alt="Menu Resmi" class="table-img" />
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Ozel)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Ozel)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Category.Name)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Category.Name)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <div class="form-group text-center">
                <input type="submit" value="Sil" class="btn btn-danger" /> |
                <a asp-action="Index" class="btn btn-primary">Listeye Geri Dön</a>
            </div>
        </form>
    </div>
</div>
